<form fxLayout="column" fxLayoutAlign="center center" [formGroup]="newTheater">
  <div *ngFor="let field of fieldConfigs">
    <app-field-input [parentFormGroup]="newTheater" [config]="field"></app-field-input>
  </div>
  <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">Submit</button>
</form>


<ng-template #successDialog>
  <div>New Theater added sucessfully </div>
  <button mat-raised-button class="accept" color="primary" (click)="dialogOk()">OK</button>
</ng-template>